/*SIMULAÇÃO*/

.simulacao{
  padding: 30px 0;
}

.simulacao-btn{
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  font-weight: bold;  
}

.simulacao-btn:hover{
  text-decoration: none;
  color: #fff;
  background-color: #306b8a;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;   
}

.fa-hand-o-right{
  margin: 0 5px 0 0;
}





/*LINHA*/

.sistemaT{
  padding: 20px 0;
}

.sistema-titu{
  display: block;
  font-size: 1em;
  color: #306b8a;
}

.sistema-subtitu{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #306b8a;
}

.sistema{
  margin: 20px 0;
  height: auto;
  background-image: url(../images/background/bg-sistema.png);
  background-repeat: repeat-y;
  background-position: center center;
}

.sistema1{
  height: 200px;
  width: 2px;
  background-color: #306b8a;
}

.sistema-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px 0;
}

.sisOrder{
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-box{
  position: relative;
  margin: 0 0 20px 0;
}

.sis{
  background-color: #306b8a;
  color: #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 3px 0 0 0;
  position: absolute;
  left: 50%;
  margin-left: -15px; 
}

.sisL{
  width: 90%;
}

.sis1{
  min-width: 110px;
  max-width: 300px;
}

.sistxt1{
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.sistxt{
  font-size: 0.8em;
  margin: 0 0 0 30px;
  text-align: left;
}

.sistxt2{
  font-size: 0.8em;
  margin: 0 20px 0 0;
  text-align: right;
}

.sisLL{
  width: 70%;
  margin: 0 20px 0 0;
}

.sisLLL{
  width: 90%;
  margin: 0 0 0 20px;
}





/*ETAPAS*/
.etapas{
  background-image: url('../images/background/bg-etapas-300.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: cover;
  background-size: cover;
  

  padding: 40px 0 30px 0;
}

.etapas-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.etapas-block{
  width: 90%;
  margin: 5px 0;
}

.etapa-num{
  background-color: #444;
  color: #fff;
  border-radius: 100%;
  font-size: 60px;
  padding: 10px 29px;
}

.etapas-block h2{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin: 20px 0;
}

.etapas-block p{
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}






/*ECONOMIA*/

.economia{
  padding: 20px 0 10px 0;
  background-image: url('../images/background/09.jpg');
  color: #fff;
}

.item{
  width: 200px;
  margin: auto;
}

.slick-dots li button:before{
  color: #fff !important;
  background-color: #fff !important;
}







/*ESTÁ NO HEADER*/
.tema{
  display: none;
}






/*EFEITO HOVER NAS IMAGENS*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #3d5c8d;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10% 10% 20% 10%;
  background: rgba(0,0,0,0.5);
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  padding: 1.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a{
  padding: 8px 12px;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  font-size: 14px !important; 
}

.hovereffect a:hover{
  color: #333;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

.hovereffect a, .hovereffect p {
  color: rgba(255,255,255,0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  font-weight: 100; 
  margin: 30px 0 0 0;  
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}








/*CASES*/

.cases{
  padding: 20px 0;
}

.cases-titu{
   width: 100%;
   text-align: left;
   font-size: 3em;
   margin: 0 0 0 10px;
 }

.cases-linha{
  border-bottom: 1px solid rgba(0,0,0,0.5);
  width: 10%;
  height: 1px;
  margin: 0 0 20px 15px;
}









/*PARCEIROS*/
.parceiros{
  background-color: #f4f4f4;
  padding: 20px 0;
}

.parceiros h1{
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 15px 0;
  color: #306b8a;
}

.parceiros-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.parceiros-flex img{
  margin: 0 0 5px 0;
  max-width: 200px;
}






/*SOLICITE*/
.solicite{
  background-image: url('../images/background/08.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: cover;
  background-size: cover;
  padding: 30px 0 20px 0;
}

.solicite-title{
  font-size: 1.6em;
  color: #fff;
  font-weight: bold;
  margin: 0 0 15px 0;
  display: block;
}

.solicite-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.solicite-flex a{
  padding: 10px 20px;
  border-radius: 5px;  
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #fff;
  margin: 0 0 10px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;   
}

.solicite-flex a:hover{
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;   
}

.solicite-res{
  /*background-color: #fdd84a;*/
  background-color: #444;
  /*color: #306b8a;*/
  color: #fff;
}

.solicite-emp{
  /*background-color: #306b8a;*/
  background-color: #444;
  color: #fff;  
}

.solicite-rur{
  /*background-color: #306b8a;*/
  background-color: #444;
  color: #fff;  
}

.solicite-res:hover{
  background-color: transparent;
  color: #fff;
}

.solicite-emp:hover{
  background-color: transparent;
  color: #fff;  
}

.solicite-rur:hover{
  background-color: transparent;
  color: #fff;  
}

.fa-university, .fa-home, .fa-envira{
  margin: 0 10px 0 0;
}

/*.case-image{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 35px;
}*/

.case-image{
  position: relative;
}

.case-cont{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-70px;
  margin-left:-125px;

  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 250px;
  font-weight: bold;
  text-shadow: 1px 2px #222;
}

.case-image img{  
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
  border-top: 15px solid #fff;
}

.case-image img:hover{
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-top: 15px solid #fed84a;
}

.case-cont:hover {
  text-decoration: underline !important;
}





/*************************************************************************************************/
@media(min-width:960px){


/*SIMULAÇÃO*/

.simulacao{
  padding: 60px 0;
  margin: 20px 0 0 0;
}

.simulacao-btn{
  font-size: 2.6em;
  padding: 15px 25px;
}

.fa-hand-o-right{
  margin: 0 10px 0 0;
}




/*ETAPAS*/
.etapas{
  padding: 70px 0 40px 0;
}

.etapas-flex{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;  
}

.etapas-block{
  width: 50%;
  margin: 0 10px;
}

.etapa-num{
  background-color: #444;
  color: #fff;
  border-radius: 100%;
  font-size: 60px;
  padding: 10px 29px;
}

.etapas-block h2{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin: 25px 0;
}

.etapas-block p{
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}




/*ESTÁ NO HEADER*/

.tema{
  display: block;
  color: #fff;
  margin: 200px 0 0 0;
}

.tema h1{
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.tema h2{
  font-size: 2em;
  font-weight: 100;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  width: 60%;
  margin: auto;
  border-radius: 5px;
}






/*ECONOMIA*/

.economia{
  background-image: url('../images/background/09.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: 100% !important;
  background-size: 100% !important;
  padding: 60px 0 20px 0;
  height: 400px;
} 

.economia-box{
  width: 50%;
  margin: auto;
}

.economia-box p{
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  margin: 40px 0 0 0;
}

.economia-box p strong{  
  color: #fff;
  font-weight: bold;
}

/*.economia-linha{
  border-bottom: 1px solid rgba(255,255,255,0.6);
  width: 30%;
  margin: 30px auto 0 auto;
}*/


.item{
  width: 400px;
  margin: auto;
}


.slick-dots li button:before{
  margin: 15px 0 0 0;
}









/*CASES*/
.cases{
  padding: 30px 0;
}

.cases-titu{
   font-size: 5em;
 }

.cases-linha{
  border-bottom: 1px solid rgba(0,0,0,0.5);
  width: 10%;
  height: 1px;
  margin: 0 0 20px 20px;
}


/*HOVER IMAGENS*/

.hovereffect .overlay {
  padding: 50px 10%;
}

.hovereffect h2 {
  font-size: 17px;
}








/*LINHA*/
.sistemaT{
  padding: 0 0 60px 0;
}

.sistema-titu{
  font-size: 1.5em;
}

.sistema-subtitu{
  font-size: 2em;
}

.sis{
  width: 50px;
  height: 50px;
  padding: 6px 0 0 0;
  left: 50%;
  margin-left: -25px; 
  font-size: 1.6em;
}

.sisL{
  width: auto;
  margin: 0 0 0 120px;
}

.sistxt{
  font-size: 1.2em;
  margin: 40px 0 0 0;
  text-align: left;
}

.sistema-box{
  margin: 50px 0;
}

.sistxt1{
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.sistxt2{
  font-size: 1.2em;
  margin: 0 0px 0 0;
  text-align: right;
}

.sisLL{
  margin: 40px 0px 0 20px;
}

.sisLLL{
  width: auto;
  margin: 0px 50px 0 -40px;
}






/*PARCEIROS*/
.parceiros{
  padding: 40px 0;
}

.parceiros h1{
  font-size: 2em;
  margin: 0 0 40px 0;
}

.parceiros-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.parceiros-flex img{
  margin: 0 0 5px 0;
  max-width: 200px;
}






/*SOLICITE*/
.solicite{
  padding: 60px 0 50px 0;
}

.solicite-title{
  font-size: 2.2em;
  margin: 0 0 35px 0;
}

.solicite-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;  
  -ms-flex-wrap: nowrap;  
      flex-wrap: nowrap;  
  -ms-flex-pack: distribute;  
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solicite-flex a{
  padding: 20px 20px;
  margin: 0; 
  font-size: 1.4em; 
}







}