.footer{
	background-color: #333132;
	padding: 20px 0;
}

.footer-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
}

.footer-link{
	color: #fdd84a;
	margin: 0 0 5px 0;
}

.footer-link:hover{
	text-decoration: none;
	color: #fff;
}

.footer-copy{
	color: #59585b;
	margin: 0 0 5px 0;
}

.footer-copy strong{
	font-size: 12px;
}

.footer-img{
	width: 170px;
	display: none;
}


/*************************************************************************************************/
@media(min-width:960px){

.footer{
	background-color: #333132;
	padding: 10px 0;
}

.footer-flex{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;	    
}

.footer-link{
	margin: 0;
}

.footer-copy{
	margin: 0;
}

.footer-img{
	width: 120px;
	display: block;
}

.footer-copy strong{
	font-size: 15px;
}


.zap{
	position: fixed;
	z-index: 100;
	right: 100px;
	bottom: 15px;;
}


}