.header{
  background-image: url('../images/background/bg-header.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: 100% !important;
  background-size: 100% !important;
  height: 140px;
}


.logo{
  background-color: rgba(0,0,0,0.6);
  padding: 5px 0;
}

.logo img{
  width: 130px;
}

.nav{
  visibility: hidden;
}

.nav li a{
  color:rgba(0,0,0,0.5);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav li a:hover{
  color:rgba(255,255,255,1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu{
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu a{
  color: #fff;
  font-size: 40px;
}

.menu a:hover{
  color: #fdd84a;
}


.navmail{
    color: #fff;
    font-weight: lighter;    
    font-size: 2em;
    padding: 5px 0;
    float: right;
}


.nav-ss{
    display: none;
}










.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #333; 
    color: #fff;
   
    
    top: 0;
    left: -250px;    
       
    
    
    transition: .5s;
    z-index: 100;
}


.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0px 0;    
}

.sidebar ul li{
    border-bottom: 1px solid #2a2a2a;
    transition: .2s;
   
}

.sidebar li:hover{
    background: #444;
    
    transition: .2s;
}


.sidebar ul li a{
   
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    text-align: left;
    
    /*
    padding: 10px 20px;
    
    
    display: block;
    
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-align: left;*/
}

.abrir{
    
    transform: translateX(250px);
}



/*


.sidebar{
    position: fixed;
    top: 0;
    left: -250px;    
    background: #262626;    
    width: 250px;
    height: 100%;
    transition: .5s;
    z-index: 100;
}



.sidebar ul{
    margin: 0;
    padding: 20px 0;    
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-align: left;
}

.sidebar ul li a:hover{
    background: rgba(0,0,0,.1);
}

*/

.ative121{
    left: 0;
}



.sidebar-btn{
    position: absolute;
    top: 8px;
    right: -70px;
    width: 70px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    background: #262626;
    border: none;
    outline: none;
    transition: .5s;
}

.sidebar-btn span{
    display: block;
    width: 55px;
    height: 3px;
    background: #f5f5f5;
    position: absolute;
    top: 38px;
    transition: .3s;
    margin: 0 0 0 6.5px;
}

.sidebar-btn span:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f5f5f5;
    transition: .5s;
}

.sidebar-btn span:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f5f5f5;
    transition: .5s;
}

.sidebar-btn.toggle span{
    background: transparent;   
}

.sid2{
    color: #f5f5f5;
}

.sidebar-btn.toggle .sid2{
    display: none;
    transition: .5s;
}

.sidebar-btn.toggle{
    background: transparent;
    transition: .5s;
}

.sidebar-btn.toggle span:before{
    top: 0;
    transform: rotate(45deg);  
    background: #f5f5f5;
}

.sidebar-btn.toggle span:after{
    top: 0;
    transform: rotate(-45deg); 
    background: #f5f5f5;
}


.selo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selo img{
  /*margin: -20% auto 0 auto; */
  width: 80%;

}



/*************************************************************************************************/
@media(min-width:570px){
.logo{
  background-color: transparent; 
}

/*.selo img{
  margin: -15% 0 0 0; 
  width: 30%;
  float: right;
}*/


}

/*************************************************************************************************/
@media(min-width:780px){
.logo{
  margin: 20px 0 0 0;
}

.menu{
  top: 35px;
  right: 35px;
}

/*.selo img{
  margin: -15% 0 0 0; 
  width: 30%;
  float: right;
}*/

}


/*************************************************************************************************/
@media(min-width:960px){

.header{   
  height: 662px;  
}

.logo{
  margin: -40px 0 0 0;
  padding: 0;  
}

.logo img{
  width: 100%;
}
    
.sidebar{
    display: none;
}

.nav{
  visibility: visible;
}

.nav{
  margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;*/
}

.nav li a{
  margin: 0;
  color:rgba(255,255,255,0.7);
  font-size: 1.5em;
}


.menu{
  display: none;
}
    

.navmail{
    font-size: 1.5em;
    float: right;
    padding: 30px 0 0 0;
}

.nav-ss{
    display: inline-block;
}



/*.selo img{
  float: right;
  margin: 60px 0 0 0;
  width: 180px;
}*/




}