.header-sobre{
  background-image: url('../images/background/bg-header.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: 100% !important;
  background-size: 100% !important;
  height: 140px;
}

.header-sobre .logo{
  margin: 18px 0 0 0;
}

.header-sobre .logo img{
    width: 200px;
}

.header-sobre .nav{
    margin: 20px 0 0 0;
    display: flex;
        flex-direction: row;
    flex-wrap: nowrap;
        justify-content: flex-end;
    align-items: flex-start;   
}


.header-sobre .nav li a{
  margin: 0 5px;
  color:rgba(255,255,255,0.9);
  font-size: 1.4em;
  font-weight: bold;
}


.page-sobre{
    padding: 50px 0;
}




.navmail{
    display: none;
}


@media(min-width:960px){
    
.header-sobre .logo{
  margin: -48px 0 0 0;
}    
    
.navmail{
    display: block;
}


    
    
}

